body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600px;
}
header{
    background-color: #70a48b;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #70a48b;
    padding: 10px;
    position: fixed;
    bottom: 0;
    min-width: 768px;
}
.navbar{
    font-family: 'Work Sans', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 2em 2em 2em;
    border: 2px solid white;
    border-radius: 8px;
}
#donation{
    background-color: #1f211c;
    border-radius: 8px;
}
li{
    align-items: center;
    color: white;
    display: inline;
    padding: 15px;
}
.friends h2{
    padding-top: 80px;
    
}
.cities h4{
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #70a48b;
    padding: 1.25em;
    justify-content: space-between;
}
p{
    font-weight: bold;
    font-size: 15px;
}
.pet{
    padding: 10px;
    align-content: center;
    border-radius: 25px;
    border: 1px solid white;
    width: 45%;
}
.info{
    margin: 25px 25px 100px 25px;
}

@media screen and (min-width: 768px) {
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .pet{
        width: 25%;
    }
    .friends h2 {
        padding-top: 0px;
    }
    .friends{
        width: 60%;
    }
    .locations{
        width: 30%;
        padding-left: 30px;
    }
    footer{
        min-width: 1500px;
    }

}
